<a
  *ngIf="!link.isAngularRoute"
  [href]="link.value"
  class="btn btn-primary"
  [ngClass]="isActive ? 'active' : ''"
  role="button"
  target="_blank"
  rel="noopener noreferrer"
  (click)="isActive = true">
  {{ link.name }}
</a>
<a
  *ngIf="link.isAngularRoute"
  [routerLink]="link.value"
  [queryParams]="link.queryParams"
  class="btn btn-primary"
  [ngClass]="isActive ? 'active' : ''"
  role="button"
  target="_blank"
  rel="noopener noreferrer"
  (click)="isActive = true">
  {{ link.name }}
</a>
