<h1>Zion Women's Soccer</h1>

<mdb-tabs>
  <mdb-tab title="Games">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Opponent</th>
          <th scope="col">Link</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Date 1</td>
          <td>Opponent 1</td>
          <td><app-link link="https://www.google.com/" name="Google"></app-link></td>
        </tr>
      </tbody>
    </table>
  </mdb-tab>
  <mdb-tab title="Practices">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Link</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Date 1</td>
          <td><app-link link="https://www.google.com/" name="Google"></app-link></td>
        </tr>
      </tbody>
    </table>
  </mdb-tab>
</mdb-tabs>
